:root{

  --header-height: 200px;
  box-sizing: border-box;

  --color1: #F9B7B8ff;
  --color2: #F05052ff;
  --color3: #FFFFFFff;
  --color4: #000000bb;
  --color5: #84D5E2ff;

  text-size-adjust: 100%; 
  -ms-text-size-adjust: 100%; 
  -moz-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%;
}



h1 {
  /* font-size: 30pt; */
}

body {
  position: relative;
  background-color: var(--color3);
  top: var(--header-height);
  /* padding: 20px; */
  margin: 0;
  color: var(--color4);
  
}

a:link, a:visited, a:hover{
  text-decoration: none;
  font-weight: bold;
  color: var(--color4);
}

a:active{
  color: var(--color5);
}


.layout{
  top:0;
  left:0;
  min-width: 240;
  /* min-height: calc( 100vh + calc(var(--header-height) * 0.75)); */
}

.header{
  background-color: var(--color5);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0; 
  height: calc(var(--header-height) * 0.75);
  padding: 20px 0px;
  text-align: center;
}

.subheading{
  background-color: var(--color1);
  top: 0;
  left: 0;
  margin: 0px 10px;
  padding: 30px;
  text-align: center;
  border-radius: 3px;

}

.doorway{
  background-color: var(--color1);
  width: 100%;
  /* min-height: 100px; */
  margin: 10px auto;
  /* padding: 5px; */
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 5px solid var(--color3);

}

.door{
  min-width: 200px;
  max-width: 240px;
  min-height: 100px;
  background-color: var(--color2);
  margin: 20px;
  padding: 10px;
  text-align: center;
  /* flex-basis: 1; */
  border-radius: 3px;
 
}

.doorknob{
  min-width: 100px;
  margin: 20px;
  padding: 10px;
  background-color: var(--color3);
  text-align: center;
  border: 2px solid;
  border-color: var(--color3);
  transition-duration: 0.5s;
  border-radius: 3px;
  /* position: relative; */
}

.doorknob:hover{
  border-color: var(--color1);
}

.about{
  background-color: var(--color1);
  width: 100%;
  min-height: 200px;
  margin: 0;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: stretch;

}

.about > div{
  max-width: 600px;
  /* min-height: 500px; */
  width: 45%;
  background-color: var(--color2);
  margin: 20px 20px;
  padding: 10px;
  border-radius: 3px;
}

.friends{
  background-color: var(--color1);
  width: 100%;
  /* min-height: 200px; */
  margin: 0;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.friend{
  /* max-width: 600px; */
  /* min-height: 500px; */
  /* width: 45%; */
  background-color: var(--color2);
  margin: 20px 20px;
  padding: 5px;
  border-radius: 3px;
}

/*deal with height being to short and header squishing things
/* @media{

} */

/*deal with mobile*/